<div class="blog-post">
  <h1 class="blog-post-title">
    <%= @blog_post.header%>
  </h1>

  <p class="blog-post-meta">
    <%# January 1, 2014 by <a href="#">Mark</a> %>
    <%= @blog_post.inserted_at |> to_string() %>
  </p>

  <%= @blog_post |> MySite.Post.as_html() |> Phoenix.HTML.raw() %>
</div>
