<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Maxim Kuzmin">
    <title>MKB</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <title>Blog Template · Bootstrap</title>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
    </head>
  <body>
    <div class="container">
      <%= render "header.html" %>
      <%= render "nav_scroller.html" %>
    </div>

    <main role="main" class="container">
      <%= show_flash_by_val("alert alert-info", :info, @conn) %>
      <%= show_flash_by_val("alert alert-danger", :error, @conn) %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= render "footer.html" %>
  </body>
</html>
